VITE_API_URL="http://localhost:3000/api"

VITE_API_AE_URL="http://localhost:3055/service-ae"
VITE_MODULES=stores,requests,documents,reports,bank,maintenance,products,security
# 1 o 0
VITE_ALLOW_VIEW_ALL=0


VITE_HOST_MOTO='https://ridertrack.moturider.work'
VITE_HOST_POS='https://pos.pizzaraul.com'