@media print {
  .container {
    font-size: 12px;
  }
  .toPrint {
    margin: 20px;
    padding: 10px;
    /* border: 1px solid rgb(125, 125, 125); */
  }

  .idTitle {
    font-size: 12px;
  }

  .desc {
    font-size: 12px;
  }
}
